body {
    background-color: #fff;
    color: #000;
    padding: 0;
    margin: 0;
    height:100%;
    overflow:hidden;
  }
  
  main {
    display:grid;
    place-items:center;
    min-height:100vh;
    position:relative;
  }
  
  #eyes, #eyes img {
    position: absolute;
    border-radius: 8px;
  }

  img.eye1 {
    right: 108px;
    bottom: 159px;
}

img.eye2 {
    bottom: 170px;
    right: 50px;
}

img.eye3 {
    bottom: 291px;
    left: 9px;
}

img.eye4 {
    bottom: 293px;
    left: 50px;
}
  